In [34]:
import pandas as pd
import numpy as np

### 1.) Given the following confusion matrix, evaluate (by hand) the model's performance.


|               | actual cat | actual dog |
|:------------  |-----------:|-----------:|
| predicted cat |         34 |          7 |
| predicted dog |         13 |         46 |

- In the context of this problem, what is a false positive?

- In the context of this problem, what is a false negative?

- How would you describe this model?

In this example: 

a.) the false positive is where we predicted cat and got dog (7)

b.) the false negative is where we predicted predicted cat and they had a dog(13)

c.) I'd describe this as a model where people were trying to predict which pets other people had

### 2.) You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

Use the predictions dataset and pandas to help answer the following questions:

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. 

- Which evaluation metric would be appropriate here?

- Which model would be the best fit for this use case?

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you they really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. 

- Which evaluation metric would be appropriate here? 

- Which model would be the best fit for this use case?

In [35]:
# 1.) read in the csv file to Pandas

df = pd.read_csv("C3.csv")
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

#### Part 1: They want to know which model performed the best overall, so we'll need the 'Accuracy' metric.  Figure out the numbers of FP's and FN's, then do the following calculation:

TP + TN / (TP + TN + FP + FN)

In [36]:
#2.) 'model1,' 'model2,' and 'model3' are all predictions.  Each row beneath them is how 
# how well that model performed against the actual observations.

# First, we'd have to figure out how well their predictive models performed:

positive = "No Defect"

df1 = pd.crosstab(df.model1, df.actual)
df2 = pd.crosstab(df.model2, df.actual)
df3 = pd.crosstab(df.model3, df.actual)

df1

actual     Defect  No Defect
model1
Defect          8          2
No Defect       8        182

In [37]:
# 8 true negatives (b/c defect is a negative), 182 true positives, 
# 2 false negatives, 8 false positives

model1_accuracy = (182 + 8) / (182 + 8 + 8 + 2)
print(f"Model1's accuracy is: {model1_accuracy}.")

Model1's accuracy is: 0.95.

In [38]:
df2

actual     Defect  No Defect
model2
Defect          9         81
No Defect       7        103

In [39]:
# 9 true negatives, 103 true positives, 81 false negatives, 7 false positives
model2_accuracy = (103 + 9) / (103 + 9 + 81 + 7)
print(f"Model2's accuracy is: {model2_accuracy}.")

Model2's accuracy is: 0.56.

In [40]:
df3

actual     Defect  No Defect
model3
Defect         13         86
No Defect       3         98

In [41]:
# 13 true negatives, 98 true positives, 86 false negatives, 3 false positives
model3_accuracy = (98 + 13) / (98 + 13 + 86 + 3)
print(f"Model3's accuracy is: {model3_accuracy}.")

Model3's accuracy is: 0.555.

#### Given that this first team is looking for accuracy, they are looking for how good each of the models performed overall.  Hands down, they should go with model1.

#### Part 2: Clearly, giving away a trip to Hawai'i for a false positive (meaning, a predicted defect that wasn't) is a costly mistake.  Therefore, use the precision formula:

- TP / (TP + FP)

In [42]:
model1_precision = 182 / (182 + 8)
model2_precision = 103 / (103 + 7)
model3_precision = 98 / (98 + 3)

print(f"Model1's precision is: {model1_precision}.")
print(f"Model2's precision is: {model2_precision}.")
print(f"Model3's precision is: {model3_precision}.")

Model1's precision is: 0.9578947368421052.
Model2's precision is: 0.9363636363636364.
Model3's precision is: 0.9702970297029703.

#### Go with Model3.

### 3.) You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

Several models have already been developed with the data, and you can find their results here.

Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

- Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

- Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

#### Part A.

In [43]:
#1.) Gotta import the data

df = pd.read_csv("gives_you_paws.csv")
df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [44]:
# gotta get the baseline now:

df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [45]:
df["baseline_prediction"] = "dog"
df

     actual model1 model2 model3 model4 baseline_prediction
0       cat    cat    dog    cat    dog                 dog
1       dog    dog    cat    cat    dog                 dog
2       dog    cat    cat    cat    dog                 dog
3       dog    dog    dog    cat    dog                 dog
4       cat    cat    cat    dog    dog                 dog
...     ...    ...    ...    ...    ...                 ...
4995    dog    dog    dog    dog    dog                 dog
4996    dog    dog    cat    cat    dog                 dog
4997    dog    cat    cat    dog    dog                 dog
4998    cat    cat    cat    cat    dog                 dog
4999    dog    dog    dog    dog    dog                 dog

[5000 rows x 6 columns]

In [46]:
# Crosstab 'em:
df1 = pd.crosstab(df.model1, df.actual)
df2 = pd.crosstab(df.model2, df.actual)
df3 = pd.crosstab(df.model3, df.actual)
df4 = pd.crosstab(df.model4, df.actual)

df1

actual   cat   dog
model1
cat     1423   640
dog      323  2614

In [47]:
model1_accuracy = (df.model1 == df.actual).mean()
model1_accuracy

0.8074

In [48]:
model2_accuracy = (df.model2 == df.actual).mean()
model2_accuracy

0.6304

In [49]:
model3_accuracy = (df.model3 == df.actual).mean()
model3_accuracy

0.5096

In [50]:
model4_accuracy = (df.model4 == df.actual).mean()
model4_accuracy

0.7426

In [51]:
# get the baseline model's accuracy:

baseline_accuracy = (df.baseline_prediction == df.actual).mean()
baseline_accuracy

0.6508

#### Models 1 and 4 perform better than the baseline

#### Part B.

- If I was on a team dealing SOLELY with dog pictures, I would recommend **Model1** for Phase I because by the time it got to Phase II, they would have been filtered with a pretty high level of accuracy.

- For Phase II (assuming Phase I's model could not be used), I would recommend **Model4**, as it has the next-highest level of accuracy (compared to Model1).

### 4.) Apply the sklearn accuracy_score to the dog/cat prediction problem:

In [52]:
from sklearn.metrics import classification_report

In [53]:
target_names = df.actual.unique()
target_names # is returned as an np array, thus can't '.head()' it

array(['cat', 'dog'], dtype=object)

In [54]:
x = classification_report(df.actual, df.model1, target_names=target_names, output_dict=True)
pd.DataFrame(x)

                   cat          dog  accuracy    macro avg  weighted avg
precision     0.689772     0.890024    0.8074     0.789898      0.820096
recall        0.815006     0.803319    0.8074     0.809162      0.807400
f1-score      0.747178     0.844452    0.8074     0.795815      0.810484
support    1746.000000  3254.000000    0.8074  5000.000000   5000.000000

#### In the above, I had to set 'output_dict' to 'True' returns me back a pandas dataframe.  But being that it's not really the easiest to read, I'm letting go of the 'output_dict' and just printing the findings:

In [55]:
print("Model1")
print(classification_report(df.actual, df.model1, target_names=target_names))

Model1
              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000

In [56]:
print("Model 2")
print(classification_report(df.actual, df.model2, target_names=target_names, output_dict=True))

Model 2
{'cat': {'precision': 0.4841220423412204, 'recall': 0.8906071019473081, 'f1-score': 0.627269060104881, 'support': 1746}, 'dog': {'precision': 0.8931767337807607, 'recall': 0.49078057775046097, 'f1-score': 0.6334787782625942, 'support': 3254}, 'accuracy': 0.6304, 'macro avg': {'precision': 0.6886493880609905, 'recall': 0.6906938398488845, 'f1-score': 0.6303739191837376, 'support': 5000}, 'weighted avg': {'precision': 0.7503348355300732, 'recall': 0.6304, 'f1-score': 0.6313103446819207, 'support': 5000}}

#### As we can see from above, there's no point in leaving in the 'output_dict' when just printing out the classification report.  So reprinting it to leave off the 'output_dict' argument:

In [58]:
print("Model2")
print(classification_report(df.actual, df.model2, target_names=target_names))

Model2
              precision    recall  f1-score   support

         cat       0.48      0.89      0.63      1746
         dog       0.89      0.49      0.63      3254

    accuracy                           0.63      5000
   macro avg       0.69      0.69      0.63      5000
weighted avg       0.75      0.63      0.63      5000

In [59]:
print("Model3")
print(classification_report(df.actual, df.model3, target_names=target_names))

Model3
              precision    recall  f1-score   support

         cat       0.36      0.51      0.42      1746
         dog       0.66      0.51      0.57      3254

    accuracy                           0.51      5000
   macro avg       0.51      0.51      0.50      5000
weighted avg       0.55      0.51      0.52      5000

In [60]:
print("Model4")
print(classification_report(df.actual, df.model4, target_names=target_names))

Model4
              precision    recall  f1-score   support

         cat       0.81      0.35      0.48      1746
         dog       0.73      0.96      0.83      3254

    accuracy                           0.74      5000
   macro avg       0.77      0.65      0.66      5000
weighted avg       0.76      0.74      0.71      5000